*{
    color:blue;
    font-family: "Bebas Neue", 'Times New Roman', Times, serif;
}
h2{
    text-align:center;
    font-family: "Lobster", sans-serif;
    font-style:normal;
}
body{
    background-color: #000;
}

div{
    margin: 5px;
}

#content{
    margin: 0px;
    padding-left: 2%;
    background-color:#fff;
    width:80%; 
    display:inline-block;
}

#header{
    width:100%;
    text-align:center;
    background-color: green;
    color: white;
    font-family: "Lobster", sans-serif;
}
noticia{
    display:inline-block;
    border:1px solid;
    box-shadow: 3px 4px #88888888;
    padding: 10px;
}
#side_bar{
    text-align:center;
    width:10%;
    vertical-align:top;
    display:inline-block;
    background-color:#343688;
    color:white;
}

a{
    color:white;
}